<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zq.books.mapper.BookshelfRelationMapper">

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into book_shelf_relation (user_id, book_id, bookshelf_id, create_time)
        values (#{userId}, #{bookId}, #{bookshelfId}, NOW())
    </insert>

    <select id="getBooksOnShelf" resultType="BookInfo">
         select b.id as bookId, b.*, bsr.bookshelf_id, bsr.user_id from book_shelf_relation bsr left join book b on bsr.book_id = b.id where bsr.user_id = #{userId} and bsr.bookshelf_id = #{bookshelfId} order by bsr.create_time desc
     </select>

    <select id="getLatestUpload" resultType="BookInfo">
         select b.id as bookId, b.*, bsr.bookshelf_id, bsr.user_id from book_shelf_relation bsr left join book b on bsr.book_id = b.id where bsr.user_id != #{id} order by bsr.create_time desc
     </select>

    <select id="getBookshelfRelation" resultType="BookshelfRelation">
         select * from book_shelf_relation where user_id = #{userId} and bookshelf_id = #{bookshelfId} and book_id = #{bookId}
     </select>

    <delete id="deleteMultiply" parameterType="java.util.Map">
        delete from book_shelf_relation where user_id = #{userId} and bookshelf_id = #{bookshelfId} and book_id in
        <foreach item="item" index="index" collection="bookIds" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
